/* h1 {
  text-align: center;
} */

img {
  width: 400px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
}

body {
  padding: 0px 300px 0px 300px;
}
